* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* INICIO MODO OSCURO */

.modo-oscuro {

    header {
        background-color: rgb(2, 2, 36)
    }

    main {
        background-color: #FA8072
    }

    aside {
        background-color: #a71c40
    }
}

/* FIN MODO OSCURO */

/* INICIO MODO CLARO */

.modo-claro {
    header {
        background-color: rgb(81 141 229)
    }

    h1{
        color: rgb(2, 2, 36);
    }

    main {
        background-color: #fa8072c7
    }

    aside {
        background-color: #ec84a0
    }
    h2,h3,label{
        color: black;
    }
}

/* FIN MODO CLARO */


/* INICIO HEADER */
header {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;

}

@media (min-width: 970px) {
    header {
        height: 20vh;
    }
}

h1 {
    color: white;
}

.boton-header {
    background-color: rgb(2, 2, 36);
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.boton-header:hover {
    background-color: #80808073;
}

header i {
    margin-right: 5px;
}

/* FIN HEADER */

@media (min-width: 970px) {
    .container-edicion {
        display: flex;
    }
}

/* INICIO MAIN */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;

}

@media (min-width: 970px) {
    main {
        height: 80vh;
        flex-grow: 1;
    }
}

/* INICIO MEME */


.img-meme {
    background-color: black;
    height: 70%;
    background-size: contain; 
}


.parrafo-meme {
    background-color: white;
    text-align: center;
    padding: 10px;
    font-size: 2rem;
    height: 15%;
    position: static;
    /* display: flex;
    align-items: center; */
    /* justify-content: center;  si le pongo esto me anula los botones de alineacion, entonces como hago para alienar cuando agrando la letra?*/

}
/* FIN DE MEME */

.boton-descargar-meme {
    padding: 10px;
    background-color: #8f0327;
    color: white;
    cursor: pointer;
}

main i {
    margin-right: 5px;
}

/* FIN DE MAIN */

/* INICIO ASIDE */

aside {
    padding: 15px;
    color: white;
    display: flex;
    flex-direction: column;
}


@media (min-width: 970px) {
    aside {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 220px;

    }
}

h2 {
    font-size: 1rem;
    text-align: center;
}

h3,
label {
    font-size: 0.7rem;
    font-weight: bold;
}

/* INICIO PANEL-IMG */

.panel-img {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (min-width: 970px) {
    .panel-img {
        height: 100vh;
    }
}

.panel-img .container-input {
    display: flex;
    flex-direction: column;

}

/* URL */
.panel-img .container-url {
    flex-direction: row;
    gap: 5px;
    align-items: center;

}
input,textarea, button{
    border-radius: 5px;
    cursor: pointer;
}

#input-url {
    padding: 5px;
    width: 100%;
    border: none;
}
/* FONDO */
.container-fondo {
    display: grid;
    gap: 5px;
    grid-template-columns: 50% 50%;
}

.panel-img .fondo{
    flex-direction: row;
    gap: 5px;
    align-items: center;
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.9rem;
    
}

input[type="color"]{
width: 18px;
height: 18px;
border: none;
background-color: transparent;

}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch{
    
    border-radius: 50%; 
}
input[type="color"]::-moz-color-swatch{
    
    border-radius: 50%; 
} 

/* FILTROS */

.container-filtros {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 20px;
}

@media (min-width: 970px) {
    .container-filtros {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.btn-reestablecer-filtros {
    padding: 5px;
    cursor: pointer;
    align-self: center;
}

/* FIN PANEL-IMG */

/* INICIO PANEL-TEXTO */
.panel-texto {
    display: none;
    flex-direction: column;
    gap: 10px;
}

@media (min-width: 970px) {
    .panel-texto {
        height: 100vh;
    }
}

/* FUENTE */

.container-fuente {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.letra {
    width: 50%;
}

#input-tamanio-letra {
    padding: 5px;
    width: 100%;
}

.container-tamanio-alineacion {
    display: flex;
    gap: 5px;
    
}

.container-boton-alineacion {
    display: flex;
    gap: 5px;
    width: 50%;
    justify-content: space-around;
}
.btn-alineacion {
    width: 30%;
}

/* COLOR */
.panel-texto .color{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.9rem;
}
.div-color{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
}

.check {
    display: flex;
    gap: 5px;
    align-items: center;
}

.container-color {
    display: flex;
    gap: 10px;
}

/* CONTORNO */

.btn-contorno {
    padding: 5px;
}

/* ESPACIADO */

#input-espaciado{
    padding: 5px;
    width: 100%;
}

/* INTERLINEADO */

select {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}

textarea {
    width: 100%;
}


button{
    border: none;
}

/* FIN PANEL TEXTO */

/* FIN ASIDE */